html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #444;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}

html, body {
    background:	#666;
    width:		100%;
    height:		100%;
    padding:	0;
    margin:		0;
    overflow:	auto; /* when page gets too small */
}
#container {
    background:	#999;
    height:		100%;
    margin:		0 auto;
    width:		100%;
    min-width:	700px;
    _width:		700px; /* min-width for IE6 */
}
.pane {
    display:	none; /* will appear when layout inits */
}

a {
    text-decoration: none;
    color: #235a81;
    cursor: pointer;
    outline: none;
}

a:hover {
    text-decoration: underline;
    color: #235a81;
}

.header {
    background: #888;
    text-shadow: 0 1px 0 #000;
    color: #fff;
}
.header table {
    width: 100%;
}
.header table td {
    padding: 4px 2px;
    vertical-align: middle;
}
.header table .col-1 {
    text-align: left;
}
.header table .col-2 {
    text-align: center;
}
.header table .col-3 {
    text-align: right;
}

.wrap {
    overflow: hidden;
}
.wrap > div {
    float: left;
    box-sizing: border-box;
}
.wrap .menu {
    width: 15%;
}
.wrap .content {
    width: 200px;
    width: 85%;
}

.admin-content-wrap {
    display: inline-block;
    min-width: 600px;
    width: auto;
}

.admin-content-wrap table {
    /*width: 100%;*/
}

.search-filter, .list-data-wrap {
    margin: 20px 0;
}

.search-filter {
    display: inline-block;
}

.search-filter {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #aaa;
    background-color: #fff;
}

.search-filter .title, .edit-form .title {
    font-weight: bold;
    color: #444;
    padding: 5px 10px;
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
    background: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background: -o-linear-gradient(top, #eeeeee, #cccccc);
}

.search-filter .fields {
    padding: 5px 10px;
}

.search-filter table td {
    text-align: left;
    padding: 5px 3px;
}

.search-filter .footer, .edit-form .footer {
    text-align: right;
    background: #D3DCE3;
}

.search-filter .footer button, .edit-form .footer input {
    margin: 6px 10px;
    border: 1px solid #aaa;
    padding: 3px 7px;
    color: #111;
    font-weight: bold;
    text-decoration: none;
    background: #ddd;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    text-shadow: 0 1px 0 #fff;
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#d8d8d8));
    background: -webkit-linear-gradient(top, #f8f8f8, #d8d8d8);
    background: -moz-linear-gradient(top, #f8f8f8, #d8d8d8);
    background: -ms-linear-gradient(top, #f8f8f8, #d8d8d8);
    background: -o-linear-gradient(top, #f8f8f8, #d8d8d8);
}

.search-filter .footer button:hover, .edit-form .footer input:hover {
    position: relative;
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background: -webkit-linear-gradient(top, #fff, #ddd);
    background: -moz-linear-gradient(top, #fff, #ddd);
    background: -ms-linear-gradient(top, #fff, #ddd);
    background: -o-linear-gradient(top, #fff, #ddd);
    cursor: pointer;
}
.search-filter .footer .search:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
    background-position: 0 -880px;
}
.search-filter .footer .clear:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
    background-position: 0 -240px;
}

.pagination-control {
    width: 100%;
    /*border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
    background: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background: -o-linear-gradient(top, #eeeeee, #cccccc);
}

.pagination-control td {
    width: 33.333%;
    padding: 7px 5px;
}

.pagination-control .left {
    text-align: left;
}

.pagination-control .center {
    text-align: center;
}

.pagination-control .right {
    text-align: right;
}

.pagination-control input {
    width: 50px;
    margin-left: 10px;
}

.pagination-control input, .pagination-control select {
    height: 21px;
    box-sizing: border-box;
}

.pagination-control .first, .pagination-control .previous, .pagination-control .next, .pagination-control .last {
    padding: 7px 5px;
    text-decoration: none;
    margin-left: 5px;
}

.pagination-control .first:hover, .pagination-control .previous:hover, .pagination-control .next:hover, .pagination-control .last:hover {
    color: #fff;
    cursor: pointer;
    text-shadow: none;
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#555555));
    background: -webkit-linear-gradient(top, #333333, #555555);
    background: -moz-linear-gradient(top, #333333, #555555);
    background: -ms-linear-gradient(top, #333333, #555555);
    background: -o-linear-gradient(top, #333333, #555555);
}

.list-data-wrap .buttons {
    overflow: hidden;
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dcdcdc));
    background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
    background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
    background: -ms-linear-gradient(top, #ffffff, #dcdcdc);
    background: -o-linear-gradient(top, #ffffff, #dcdcdc);
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #ccc;
}

.list-data-wrap .buttons ul {
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-data-wrap .buttons li {
    border-right: 1px solid #fff;
    border-left: 1px solid #ccc;
    float: left;
    margin: 0;
    vertical-align: middle;
    font-weight: bold;
}

.list-data-wrap .buttons li:hover {
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
    background: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
    background: -moz-linear-gradient(top, #ffffff, #e5e5e5);
    background: -ms-linear-gradient(top, #ffffff, #e5e5e5);
    background: -o-linear-gradient(top, #ffffff, #e5e5e5);
}

.list-data-wrap .buttons a {
    display: block;
    text-decoration: none;
    padding: 8px;
    text-shadow: 0 1px 0 #fff;
}

.list-data-wrap .buttons li .add-record:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
    background-position: 0 -512px;
}

.list-data-wrap .buttons .delete-btn {
    display: block;
    border: 0;
    padding: 8px;
    margin: 0;
    background: none;
    text-shadow: 0 1px 0 #fff;
    color: #235a81;
    font-weight: bold;
    font-size: 14px;
}

.list-data-wrap .buttons li .delete-btn:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
    background-position: 0 -208px;
}
.list-data {
    border-collapse: collapse;
}

.list-data th, .list-data td {
    border: 1px solid #aaa;
    padding: 5px 3px;
    text-shadow: 0 1px 0 #fff;
    font-size: 1.4rem;
    color: #000;
}

.list-data th {
    font-weight: bold;
    text-decoration: none;
    color: #235a81;
    cursor: pointer;
    outline: none;
    background: #f3f3f3;
    background-image: url(./themes/svg_gradient.php?from=ffffff&to=cccccc);
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -webkit-linear-gradient(top, #ffffff, #cccccc);
    background: -moz-linear-gradient(top, #ffffff, #cccccc);
    background: -ms-linear-gradient(top, #ffffff, #cccccc);
    background: -o-linear-gradient(top, #ffffff, #cccccc);
}

.list-data th:hover {
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
    background: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
    background: -moz-linear-gradient(top, #ffffff, #e5e5e5);
    background: -ms-linear-gradient(top, #ffffff, #e5e5e5);
    background: -o-linear-gradient(top, #ffffff, #e5e5e5);
}

.list-data th:hover span {
    text-decoration: underline;
    color: #235a81;
}

.list-data th sup {
    vertical-align: text-top;
    font-size: 1.1rem;
}

.list-data th.lng:after, .search-filter .lng  .value-lng:after, .edit-form .lng .value-lng:after{
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 16px;
}

.list-data th.lng.bg_BG:after, .search-filter .lng.bg_BG  .value-lng:after, .edit-form .lng.bg_BG  .value-lng:after {
    background: url(../img/flag_bg.png) 100% -2px no-repeat;
}

.list-data th.lng.en_GB:after, .search-filter .lng.en_GB  .value-lng:after, .edit-form .lng.en_GB  .value-lng:after {
    background: url(../img/flag_en.png) 100% -2px no-repeat;
}

.list-data th:hover sup {
    text-decoration: none;
    color: #235a81;
}
.list-data th .value-lng, .search-filter .value-lng {
    font-size: 12px;
}

.list-data tbody .odd {
    background: #fff;
}

.list-data tbody .even {
    background: #DFDFDF;
}

.list-data tbody .odd:not(.nopointer):hover, .list-data tbody .even:not(.nopointer):hover, .list-data tbody .hover:not(.nopointer) {
    /*.list-data .tbody .even td {*/
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ced6df), to(#b6c6d7));
    background: -webkit-linear-gradient(top, #ced6df, #b6c6d7);
    background: -moz-linear-gradient(top, #ced6df, #b6c6d7);
    background: -ms-linear-gradient(top, #ced6df, #b6c6d7);
    background: -o-linear-gradient(top, #ced6df, #b6c6d7);
    color: #000;
}

.list-data tbody td.marked:not(.nomarker), .list-data tbody tr.marked:not(.nomarker) td, .list-data tbody tr.marked:not(.nomarker) th, .list-data tbody tr.marked:not(.nomarker) {
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ced6df), to(#b6c6d7));
    background: -webkit-linear-gradient(top, #ced6df, #b6c6d7);
    background: -moz-linear-gradient(top, #ced6df, #b6c6d7);
    background: -ms-linear-gradient(top, #ced6df, #b6c6d7);
    background: -o-linear-gradient(top, #ced6df, #b6c6d7);
    color: #000;
}

.list-data .edit-link {
    display: inline-block;
    height: 16px;
    padding-left: 18px;
    background-image: url(../img/sprites.png);
    background-position: 0 -224px;
    background-repeat: no-repeat;
}

.edit-form {
    display: inline-block;
    border: 1px solid #aaa;
    min-width: 800px;
}

.edit-form .errors {
    border-color: #333;
    margin: 7px;
    border: 1px solid maroon;
    color: #000;
    background: pink;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #fff inset;
    -webkit-box-shadow: 0 1px 1px #fff inset;
    box-shadow: 0 1px 1px #fff inset;
}

.edit-form .fields {
    border-top: 1px solid #DFDFDF;
}

.edit-table {
    width: 100%;
}

.edit-table tr td {
    text-align: left;
    padding: 6px 3px;
}

.edit-table tr td:first-child {
    width: 200px;
}

.edit-table tr:nth-child(2n) {
    background: #DFDFDF;
}

.edit-table input, .edit-table select, .edit-table textarea {
    border: 1px solid #7c7c7c;
    background: #fff;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

.edit-table input {
    height: 25px;
}

.edit-table tr:hover {
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ced6df), to(#b6c6d7));
    background: -webkit-linear-gradient(top, #ced6df, #b6c6d7);
    background: -moz-linear-gradient(top, #ced6df, #b6c6d7);
    background: -ms-linear-gradient(top, #ced6df, #b6c6d7);
    background: -o-linear-gradient(top, #ced6df, #b6c6d7);
    color: #000;
}

.edit-table tr td:first-child {
    text-align: right;
}

.nested-list-content.selected {
    color: #2ea8e5;
    background: #fff;
}